@font-face {
  font-family: "cyberpunk";
  src: url(../font/Cyberpunk_font.ttf);
}
@font-face {
  font-family: "play-bold";
  src: url(../font/Play-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, #050a0e 3%, #fcee09 68%, #ff003c 98%);
  /*rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%*/
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
header {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 1em;
}
header nav {
  display: flex;
  width: 70%;
  background-color: rgba(252, 238, 9, 0.6);
  justify-content: center;
  align-items: center;
}
#logo {
  width: 30%;
  display: inline-block;
}
#logoimg {
  width: 50%;
  display: inline-block;
}
#cyp {
  font-family: "cyberpunk";
  font-size: 4em;
  opacity: 1;
  text-align: center;
  letter-spacing: .15em;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "play-bold";
  text-shadow: #fcee09 1px 0px 5px;
  text-align: center;
}
main div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    #logo {
      width: 50%;
      display: inline-block;
    }
    #logoimg {
      width: 100%;
      display: inline-block;
    }
    #cyp {
      font-family: "cyberpunk";
      font-size: 3em;
      opacity: 1;
      text-align: center;
    }
  }
  main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "play-bold";
    text-shadow: #fcee09 1px 0px 5px;
    font-size: 0.75em;

    div {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
